---
title: Дожинковская осень в Беларуси
date: 2026-09-19
description: Поездка по Брестской и Минской областям в поисках соломенных арт-объектов
image: straw-tractor.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
  import Youtube from '$lib/components/content/Youtube.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=63YbDxV)

В конце лета и начале осени, когда полнолуние совпадает с государственными дожинками, из замков, построенных из тюков соломы, вылезают страшилы в поисках мозгов. Иногда среди них, снующих вдоль дорог, можно встретить настоящие арт-объекты: вроде огромного паука или соломенного тираннозавра.

<Image title="Паук в Клецком районе в 2019 году" file="straw-spider.webp" alt="Паук из соломы" ratio={[91,61]} />

<Image title="Соломенный динозавр из Мяделя 2025 года" file="straw-dinosaur.webp" alt="Динозавр из соломы" ratio={[106,57]} />

В надежде найти новые придорожные шедевры я выехал на границу Брестской и Минской областей. Заранее отметив на карте хозяйства, где наиболее часто встречался респаун соломенных чудищ, отправился на поезде до Ляхович. 

<Image file="lyakhovichi-train.webp" alt="Поезд в Ляховичах" ratio={[4,3]} latlng={[53.033375,26.22939722222222]} />

В городе не смог устоять, чтобы не сделать красивое фото своего велосипеда возле пляжного туалета.

<Image file="bicycle-near-toilet.webp" alt="Велосипед у туалета" ratio={[4,3]} latlng={[53.03630833333333,26.252019444444443]} />

Местные спасатели с комфортом разместились в цистерне, из которой шикарный вид на костел на другом берегу.

<Image file="osvod-water-tank.webp" alt="Цистерна ОСВОД" ratio={[4,3]} latlng={[53.03656111111111,26.25256111111111]} />

<Image file="church-opposite-bank.webp" alt="Костел на другом берегу" ratio={[3,4]} latlng={[53.03890277777778,26.262158333333332]} />

Река, разделяющая храм и бочку ОСВОДа, называется Ведьма, что, кстати, коррелирует с мистической составляющей сегодняшней покатушки, а заодно и с «годом белорусской женщины», коим нечистая сила астрологи нарекли 2026-й.

<Image file="vedma-river.webp" alt="Река Ведьма" ratio={[4,3]} latlng={[53.04049166666667,26.256530555555557]} />

Ляховичская велодорожка поражает шириной и геометрическим совершенством. Насладившись ее острыми углами и оптимальной траекторией, выехал в сторону Грушевки.

<Image file="lyakhovichi-town.webp" alt="Ляховичи" ratio={[4,3]} latlng={[53.03924166666666,26.26443888888889]} />

<Image title="Велодорожка в Ляховичах" file="lyakhovichi-bike-path.webp" alt="Велодорожка в Ляховичах" ratio={[3,4]} latlng={[53.03937777777777,26.26385]} />

Перед деревней поворот к часовне-усыпальнице Рейтанов.

<Image file="grushevka-road.webp" alt="Дорога к Грушевке" ratio={[3,4]} latlng={[53.029827777777776,26.325322222222223]} />

<Image file="grushevka-reytan-family-tomb.webp" alt="Усыпальница Рейтанов в Грушевке" ratio={[197,256]} latlng={[53.0251,26.323605555555556]} />

Склеп величествен и прекрасен, можно даже зайти внутрь.

<Image file="reytan-family-tomb-interior.webp" alt="Внутри усыпальницы Рейтанов" ratio={[3,4]} latlng={[53.025077777777774,26.32331388888889]} />

Недалеко от каплицы, на входе в лес, увидел сапоги экзотичного для этого места стиля. В голове сразу всплыла [песня «Короля и Шута»](https://www.youtube.com/watch?v=erjqUZNnAJQ):

_... Эх, я возьму их себе  
Как они будут на мне…_

<Image file="white-boots.webp" alt="Белые сапоги" ratio={[4,3]} latlng={[53.025394444444444,26.323694444444445]} />

Но, помня финал истории с сапогами в песне, решил не испытывать судьбу. Принял тяжелое решение и, оставшись в своих велоботинках, направился к усадебно-парковому комплексу тех же Рейтанов, продолжая с досадой напевать про себя песню:

_И пришёл он радостный домой:  
«Поскорей, сестра, мне дверь открой!  
Посмотри, что на моих ногах  
Посмотри, в каких я сапогах!»_

<Image title="Усадебный парк Рейтанов" file="reytan-estate-park.webp" alt="Усадебный парк Рейтанов" ratio={[4,3]} latlng={[53.02301666666666,26.339255555555553]} />

Усадьба и территория вокруг активно реставрируются и облагораживаются.

<Image file="reytan-estate.webp" alt="Усадьба Рейтанов" ratio={[4,3]} latlng={[53.02430833333333,26.339916666666664]} />

Я был тут шесть лет назад и с тех пор ее не узнать.

<Image title="Усадьба Рейтанов в 2020 году" file="reytan-estate-2020.webp" alt="Усадьба Рейтанов в 2020 году" ratio={[4,3]} latlng={[53.02921944444444,26.353175]} />

<Image title="Усадьба Рейтанов в 2026 году" file="reytan-estate-side-view.webp" alt="Усадьба Рейтанов вид сбоку" ratio={[4,3]} latlng={[53.02373055555555,26.341083333333334]} />

Реставрация выглядит довольно качественно. Агрогламура, присущего многим историческим памятникам Беларуси при их восстановлении, не заметил. Построек на территории тут еще тьма: работы хватит на десятилетия кропотливой работы. Можно справиться и за полгода, объявив в Грушевке «Дажынкі», но тогда не обойтись без профнастила и поликарбоната.

<Image file="red-brick-outbuildings.webp" alt="Хозпостройки из красного кирпича" ratio={[4,3]} latlng={[53.023352777777774,26.341191666666667]} />

В агрогородке Нача стоит шикарная почта со стеной из стеклоблоков.

<Image file="nacha-post-office.webp" alt="Почта в Наче" ratio={[2048,1535]} latlng={[53.03310833333333,26.42139166666667]} />

Там же заглянул к усадьбе Черноцких. Тут за шесть лет с прошлого визита ничего не изменилось.

<Image file="chernocki-estate.webp" alt="Усадьба Черноцких" ratio={[4,3]} latlng={[53.03380833333333,26.43614722222222]} />

На въезде в Кухчицы меня встретил картофель в шляпе с лопатой.

<Image file="potato-monument-bicycle.webp" alt="Памятник картофелю и велосипед" ratio={[3,4]} latlng={[53.03243333333333,26.55633611111111]} />

В этом году ОАО «Кухчицы» решило обойтись без масштабных богомолов и крейсеров: у дороги стояли милые ежики.

<Image file="straw-hedgehogs.webp" alt="Ежики из соломы" ratio={[4,3]} latlng={[53.03496666666666,26.564872222222224]} />

А еще отметилось коллаборацией с рогачевской сгущенкой.

<Image file="rogachev-condensed-milk.webp" alt="Рогачевская сгущенка" ratio={[3,4]} latlng={[53.03511111111111,26.56551111111111]} />

Полежав на соломенном диване, продолжил путь к районному центру.

<Image file="straw-sofa.webp" alt="Диван из соломы" ratio={[4,3]} latlng={[53.03536111111111,26.56640277777778]} />

Клецк субботним утром был многолюден.

<Image file="kletsk-street-trade.webp" alt="Торговля на улицах Клецка" ratio={[4,3]} latlng={[53.06468333333333,26.638369444444443]} />

Мало кто знает, но тут находится центр Земли.

<Image file="kletsk-center-of-the-earth.webp" alt="Клецк центр Земли" ratio={[3,4]} latlng={[53.067305555555556,26.63339722222222]} />

В городе остались кавалерийские казармы, построенные сто лет назад еще при Польше. Сейчас в левой просто проход.

<Image file="kletsk-left-barracks.webp" alt="Левая казарма в Клецке" ratio={[3,4]} latlng={[53.07565,26.643102777777777]} />

В правой — подъезд жилого дома.

<Image file="kletsk-right-barracks.webp" alt="Правая казарма в Клецке" ratio={[3,4]} latlng={[53.074763888888896,26.641466666666666]} />

<Image file="kletsk-right-barracks-interior.webp" alt="Внутри правой казармы в Клецке" ratio={[4,3]} latlng={[53.074738888888895,26.641594444444443]} />

Центральная же казарма подверглась жесточайшей реставрации и теперь в ней центр гигиены и эпидемиологии.

<Image file="kletsk-central-barracks.webp" alt="Центральная казарма в Клецке" ratio={[4,3]} latlng={[53.07507777777778,26.642119444444443]} />

Следующей точкой материализации соломенных чудищ был агрогородок Лань. Тут меня встречал символ года в Беларуси.

<Image file="straw-woman.webp" alt="Женщина из соломы" ratio={[3,4]} latlng={[53.14728611111111,26.673319444444445]} />

Судя по положению тел местных персонажей за столом, на вечеринку я опоздал.

<Image file="straw-feast.webp" alt="Соломенное застолье" ratio={[3,4]} latlng={[53.147372222222224,26.673375]} />

Тем не менее не смог не присоединиться.

<Image file="table-straw-figures.webp" alt="За столом с соломенными фигурами" ratio={[4,3]} latlng={[53.14732222222222,26.673383333333334]} />

А еще тут был шикарный лабиринт из тюков соломы.

<Image file="straw-labyrinth.webp" alt="Лабиринт из соломы" ratio={[3,4]} latlng={[53.14720555555556,26.673861111111112]} />

С удовольствием побродил внутри. Пикантности ему добавляет соломенный труп за одним из поворотов.

<Image file="straw-corpse-labyrinth.webp" alt="Соломенный труп в лабиринте" ratio={[3,4]} latlng={[53.147127777777776,26.673869444444446]} />

На въезде в Несвиж тоже стоит инсталляция, в центре которой символ года. По размаху, конечно, не сопоставима с Кухчицами и Ланью.

<Image file="straw-woman-nesvizh-entrance.webp" alt="Соломенная женщина на въезде в Несвиж" ratio={[4,3]} latlng={[53.20247777777778,26.693108333333335]} />

Заглянул и к замку. Бывал тут много раз, но не могу не отметить, что выглядит все это прекрасно.

<Image file="nesvizh-castle.webp" alt="Несвижский замок" ratio={[4,3]} latlng={[53.22216388888889,26.69740277777778]} />

Туристов вокруг немерено, атмосфера крайне приятная.

<Image file="nesvizh-castle-main-gate.webp" alt="Главные ворота в Несвижский замок" ratio={[3,4]} latlng={[53.22300833333333,26.690108333333335]} />

<Image file="nesvizh-church.webp" alt="Костел в Несвиже" ratio={[4,3]} latlng={[53.22080277777778,26.683158333333335]} />

Несвиж, безусловно, красив не только замком. Проехался по городу с удовольствием, заодно устроив обед возле центральной площади.

<Image file="nesvizh-central-square.webp" alt="Центральная площадь Несвижа" ratio={[3,4]} latlng={[53.21899444444445,26.680958333333333]} />

<Image file="nesvizh-oldest-house.webp" alt="Самый старый дом Несвижа" ratio={[4,3]} latlng={[53.21903888888889,26.680875]} />

Выезжая из города, попробовал яблоки, которыми местные жители приглашают угоститься всех желающих.

<Image title="На листке надпись: «Берите бесплатно»" file="apples-on-fence.webp" alt="Яблоки на заборе" ratio={[3,4]} latlng={[53.21443611111111,26.673558333333336]} />

Свернув с основной дороги вглубь кукурузного поля, подъехал к природной достопримечательности — «Дубу-Якубу».

<Image file="dub-yakub-road.webp" alt="Дорога к Дубу-Якубу" ratio={[3,4]} latlng={[53.16252222222222,26.527441666666665]} />

Обнял великана и покукурузил дальше.

<Image file="hugging-oak-tree.webp" alt="Обнимашки с дубом" ratio={[3,4]} latlng={[53.16087777777778,26.526374999999998]} />

<Youtube title="По кукурузному полю" id="CIw5k-0sQeU" />

Трек неожиданно уперся в свежеперепаханное поле. Пришлось добавить несколько километров к маршруту, объезжая его по менее свежему полю рядом.

<Image file="plowed-field.webp" alt="Перепаханное поле" ratio={[3,4]} latlng={[53.19683055555555,26.45375]} />

Несмотря на то, что я отметил еще много потенциальных мест дислокации дожинковских скульптур возле сельскохозяйственных предприятий, больше мне ничего не встретилось.

<Image file="agrocomplex.webp" alt="Агрокомбинат" ratio={[4,3]} latlng={[53.20225833333333,26.382583333333333]} />

На спутниковых снимках не найти соломенный «замок Ниф-Нифа», так как он недолговечен и каждый год вырастает на новом месте. Поэтому направился к «замку Наф-Нафа» из красного кирпича в Флерьяново.

<Image file="bokhvitsy-estate-facade.webp" alt="Фасад усадьбы Бохвицей" ratio={[4,3]} latlng={[53.09243888888889,26.268519444444443]} />

Тут находится усадьба Бохвицей — большое 19-комнатное деревянное здание с красивым кирпичным фасадом.

<Image file="green-arch-near-estate.webp" alt="Зеленая арка возле усадьбы" ratio={[4,3]} latlng={[53.09238888888889,26.268694444444442]} />

У имения типичная для Беларуси история: сначала она была местом отдыха интеллигенции и селебрити конца XIX - начала XX века, в войну там находился штаб оккупационных немецких войск, затем там восседало правление местного колхоза. Сейчас по усадьбе проводят экскурсии, на которые можно заранее записаться.

<Image file="bokhvitsy-estate.webp" alt="Усадьба Бохвицей" ratio={[3,4]} latlng={[53.09263611111111,26.26905]} />

В лучах закатного солнца доехал до Баранович-Полесских, где заканчивался мой сегодняшний маршрут.

<Image file="goats-under-tree.webp" alt="Козы под деревом" ratio={[3,4]} latlng={[53.10990833333334,26.189936111111113]} />

До поезда в Минск было еще два часа, поэтому решил прокатиться по городу.

<Image file="baranovichi-center.webp" alt="Центр Барановичей" ratio={[2048,1535]} latlng={[53.13260555555556,26.019627777777778]} />

В отличие от столицы, в Барановичах есть пешеходная улица или даже две. Вечером в субботу там было просто не протолкнуться: толпами ходили одинаковые подростки в широких штанах, а возле торгового дома бабушки танцевали с дедушками.

<Image file="raduga-shopping-center.webp" alt="Торговый дом Радуга" ratio={[2048,1535]} latlng={[53.133377777777774,26.015591666666666]} />

Думал попробовать местный всемирно известный фастфуд «Лодочки», но очередь к нему меня демотивировала.

<Image file="queue-for-boats.webp" alt="Очередь за лодочками" ratio={[2048,1535]} latlng={[53.13305555555556,26.014702777777778]} />

На этом мой рассказ о дожинковской Беларуси завершаю. Жаль, что не удалось найти на полях соломенную женщину-гиганта от «Агрокомбината Снов».

<Image file="stern-straw-woman.webp" alt="Суровая женщина из соломы" ratio={[3,2]} />

__Итоги дня__  
_Расстояние:_ __126.11 км__  
_Общий подъем:_ __641 м__  
_Общий спуск:_ __623 м__  
_Минимальная высота:_ __171 м__  
_Максимальная высота:_ __219 м__  
_Средняя скорость:_ __13.9 км/ч__  
_Средняя скорость движения:_ __18.6 км/ч__  
_Максимальная скорость:_ __40.0 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/24422769531)