---
title: Вело-Сакартвело. Пари - Зугдиди. День 11
date: 2026-06-18
description: 11 день велопутешествия по Грузии. Прощаюсь со Сванетией и горами и посещаю Ингурскую ГЭС
image: inguri-dam-side-view.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=0w8BpK6)

Хозяева гестхауса сегодня, как и я, собирались в Зугдиди, чтобы сдать в ремонт стиральную машину. Логистически жизнь в горной деревне довольно непростая, так как до какой-никакой инфраструктуры приходится ехать больше 100 километров и дольше двух часов.

К 8 часам утра хозяин с хозяйкой уже были готовы выезжать и скорее всего ждали, только пока я позавтракаю. И тут они совершили ошибку. Нельзя ради одного гостя накрывать целый стол, когда спешишь по делам.

<Image file="pari-guesthouse-breakfast.webp" alt="Завтра в гестхаусе в Пари" ratio={[4,3]} latlng={[43.05172777777778,42.493275000000004]} />

Было вкусно. Я как мог насладился завтраком и, захватив с собой несколько кусков хачапури, выехал вместе с хозяйским джипом на главную дорогу Верхней Сванетии.

<Image file="upper-svaneti-main-road.webp" alt="Главная дорога Верхней Сванетии" ratio={[3,4]} latlng={[43.050225,42.38628055555556]} />

<Image file="mountain-house.webp" alt="Домик в горах" ratio={[3,4]} latlng={[43.03962222222222,42.35046388888889]} />

В этот день мне предстояло ехать только вниз. Напрягаться приходилось только в туннелях, обильно встречающихся на маршруте.

<Image file="mountain-road-tunnel.webp" alt="Туннель на горной дороге" ratio={[4,3]} latlng={[42.98345277777778,42.236380555555556]} />

Физически ехать по ним, конечно, несложно. Напрягала лишь их тьма после яркого солнца и необходимость включать свет, чтобы не сбили автомобили.

<Image file="tunnel-interior.webp" alt="Внутри туннеля" ratio={[3,4]} />

С точки зрения природы все было мне уже привычно и знакомо. С одной стороны дороги шумела Ингури, с другой — нависали скалы.

<Image file="inguri-river.webp" alt="Река Ингури" ratio={[4,3]} latlng={[42.959877777777784,42.19594166666666]} />

<Image file="cliffs-over-road.webp" alt="Скалы над дорогой" ratio={[4,3]} latlng={[42.968811111111116,42.20654722222223]} />

Изредка попадался придорожный бизнес.

<Image file="roadside-business.webp" alt="Придорожный бизнес" ratio={[2048,1535]} latlng={[42.959625,42.19619722222222]} />

<Image file="treehouse-gazebo.webp" alt="Беседка на дереве" ratio={[3,4]} latlng={[42.86559722222222,42.031841666666665]} />

Самые кучерявые места с шикарными видами, естественно, отжимали себе грузинские псы.

<Image file="doghouse-waterfall.webp" alt="Собачья будка у водопада" ratio={[3,4]} latlng={[42.937552777777775,42.151263888888884]} />

Горы Сакартвело заканчивались для меня. Можно часами ползти по ним вверх, считать каждые 50 метров набора высоты, выжимать панаму от пота, а потом 5 минут вниз со свистом в ушах и ты вновь в той же точке, откуда начинал. С тобой остаются лишь опыт и мимолетные воспоминания о приятном спуске. В голове родилась аналогия, что это очень похоже на деньги, которые ты долго и нудно зарабатываешь, а потом мгновенно и весело тратишь. Часто с ними так же трудно расставаться, вспоминая, как тяжело они тебе достались. Забравшись на очередную гору, уже не хочется с нее съезжать, так как знаешь, что после спуска придется снова карабкаться вверх. Но дорога, как и жизнь, идет дальше, поэтому вжух и снова понедельник.

<Image file="rock-tunnel.webp" alt="Туннель в скале" ratio={[3,4]} latlng={[42.91063333333333,42.06124444444444]} />

Когда снежные вершины уже остались в прошлом, справа от меня раскинулось Ингурское водохранилище, вдоль которого мне предстояло проехать пару десятков километров.

<Image file="inguri-reservoir.webp" alt="Ингурское водохранилище" ratio={[4,3]} latlng={[42.86398333333334,42.035405555555556]} />

Вскоре доехал до плотины Ингурской ГЭС. Абсолютно невероятное инженерное сооружение.

<Image file="inguri-hydro-power-plant-dam.webp" alt="Плотина Ингурской ГЭС" ratio={[3,4]} latlng={[42.75783611111111,42.04139444444444]} />

Высота ее 271,5 метр. На фото масштаб совершенно не понятен. Но, буду честен, и в живую не все понятно, так как глаз и мозг к таким сооружениям не привыкли и не могут до конца осознать.

<Image file="inguri-dam-top-view.webp" alt="Вид на плотину Ингурской ГЭС сверху" ratio={[3,4]} latlng={[42.7604,42.036208333333335]} />

К плотине можно подойти ближе, но уже за деньги. Я думал, что за 17 лари смогу зайти прямо на гребень, но, к сожалению, пускают только на парковку рядом. Зато дали яркую красивую жилетку и бейджик. Лишний слой верхней одежды оказался как раз кстати в 30-градусную жару.

<Image file="bright-vest-dam-background.webp" alt="В яркой жилетке на фоне плотины" ratio={[3,4]} latlng={[42.76039166666666,42.03621666666667]} />

Еще в стоимость билета входило посещение мини-кинотеатра, где я в одиночестве посмотрел получасовой советский фильм на английском языке о строительстве Ингурской ГЭС. Было довольно интересно, но главное, что в этой темной комнате работал кондиционер.

<Image file="metal-supports-inguri-reservoir.webp" alt="Металлические опоры над Ингурским водохранилищем" ratio={[3,4]} latlng={[42.760625,42.03606666666666]} />

Когда я спустился от плотины, началась субтропическая Грузия. Вместо снежных вершин по бокам дороги теперь были пальмы и традиционные дома-виллы с широким балконом по периметру дома и отдельной лестницей на него со двора.

<Image file="zugdidi-road-typical-house.webp" alt="Типичный дом по дороге к Зугдиди" ratio={[4,3]} latlng={[42.62088888888889,41.97066388888889]} />

Кроме того, что изменились климат, рельеф и флора, стало заметно больше людей, от которых я уже слегка отвык.

<Image file="laundry-on-clothesline.webp" alt="Белье на веревках" ratio={[3,4]} latlng={[42.580913888888894,41.921375]} />

Конечной точкой сегодня для меня был город Зугдиди. В гостевом доме [ZUGDIDI INN](https://www.booking.com/hotel/ge/guest-house-svaneti-tower.html) у меня была забронирована комната за 45 лари. Хозяйка не стала вгонять меня в рамки обязательств по аренде и предложила несколько комнат на выбор: за 55 лари — без персонального санузла и за 65 — с ним.

<Image file="zugdidi-guesthouse-room.webp" alt="Номер в гестхаусе Зугдиди" ratio={[4,3]} latlng={[42.51105833333333,41.865525]} />

Раз уж платить сверху, то решил шикануть и взял ту, что побольше. Она сразила меня своим санузлом, который по цвету отлично подходил под мой загар.

<Image file="zugdidi-guesthouse-bathroom.webp" alt="Санузел в гестхаусе Зугдиди" ratio={[3,4]} latlng={[42.51105833333333,41.865525]} />

<Image file="bicycle-tan-arm.webp" alt="Велосипедный загар на руке" ratio={[3,4]} latlng={[42.50568888888889,41.87020555555556]} />

Приняв душ, отправился изучать Зугдиди. Город, безусловно, не жемчужина Грузии.

<Image file="zugdidi-broken-sidewalks.webp" alt="Разбитые тротуары Зугдиди" ratio={[4,3]} latlng={[42.507666666666665,41.868994444444446]} />

<Image file="zugdidi-street.webp" alt="Улица Зугдиди" ratio={[4,3]} latlng={[42.50734444444444,41.86944444444445]} />

В центре есть очень приятный бульвар, где я с удовольствием прогулялся. Есть еще и музей-дворец Дадиани, но идти туда желания в этот день не было.

<Image file="zugdidi-boulevard.webp" alt="Бульвар в Зугдиди" ratio={[3,4]} latlng={[42.50739166666666,41.87199444444445]} />

Самые красивые и вкусные места традиционно подмяла под себя мохнатая грузинская мафия.

<Image file="doghouse-flower-garden.webp" alt="Собачья будка у цветника" ratio={[4,3]} latlng={[42.49293611111111,41.85841111111111]} /> 

<Image file="dog-sleeping-bread-kiosk.webp" alt="Собака спит у хлебного ларька" ratio={[4,3]} latlng={[42.510508333333334,41.867755555555554]} />

По первоначальному плану это должен был быть последний день моего путешествия, но я так вкатился, что решил добраться до Батуми своим ходом вместо трансфера на маршрутке. Так что, уважаемый читатель, если уж дочитал до этого абзаца, добей уж и финальную часть.

<Image file="zugdidi-center.webp" alt="Центр Зугдиди" ratio={[4,3]} latlng={[42.503975,41.868411111111115]} />

__Итоги дня__  
_Расстояние:_ __113.28 км__  
_Общий подъем:_ __978 м__  
_Общий спуск:_ __2,252 м__  
_Минимальная высота:_ __104 м__  
_Максимальная высота:_ __1,392 м__  
_Средняя скорость:_ __15.3 км/ч__  
_Средняя скорость движения:_ __20.0 км/ч__  
_Максимальная скорость:_ __49.8 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/23294379279)