---
title: Вело-Сакартвело. Жахундери - Ушгули. День 9
date: 2026-06-16
description: 9 день велопутешествия по Грузии. Перевал Загаро. Высокогорное селение Ушгули и ледник Шхара
image: bench-mountain-background.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=Vdqxlb0)

Сегодня предстоял интереснейший день: почти 2000 метров подъема к перевалу Загаро и высокогорная деревня Ушгули с ее знаменитыми сванскими башнями. Но обо все по порядку. День же начался с традиционного грузинского завтрака.

<Image file="zhakhunderi-breakfast.webp" alt="Завтрак в Жахундери" ratio={[4,3]} latlng={[42.797352777777775,43.01793333333333]} />

Хозяйка гестхауса дала с собой в дорогу пакетик оладий, щенок волкодава любя цапнул за щиколотку на прощание и я спустился на основную дорогу, ведущую к перевалу.

<Image file="green-mountains-river.webp" alt="Зеленые гор и река" ratio={[4,3]} latlng={[42.79374722222222,43.06040833333333]} />

Сегодня навигатор в подсчете набора высоты не ошибался и показывал средний градиент 7% на ближайшие 25 километров.

<Image file="bike-computer-altitude-gain.webp" alt="Велокомпьютер с набором высоты" ratio={[3,4]} latlng={[42.80067777777778,43.09406666666667]} />

Весь день меня будут сопровождать снежные вершины гор. Любоваться можно бесконечно, особенно когда дорога не слишком круто поднимается вверх.

<Image file="snowy-mountain-peak-road.webp" alt="Снежная вершина горы на дороге" ratio={[4,3]} latlng={[42.830672222222226,43.15954722222222]} />

Места здесь уже довольно дикие. Можно, например, встретить дорожный знак с дырками от пуль.

<Image file="shot-up-road-sign.webp" alt="Расстрелянный знак" ratio={[3,4]} latlng={[42.83598611111111,43.15983611111111]} />

<Image file="mountain-road-landslide.webp" alt="Обвал на горной дороге" ratio={[3,4]} latlng={[42.821961111111115,43.1396]} />

Бизнес тут тоже не процветает.

<Image file="high-altitude-cafe.webp" alt="Высокогорное кафе" ratio={[3,4]} latlng={[42.88302222222222,43.145805555555555]} />

Начинается самый тяжелый подъем. Водители встречных микроавтобусов машут мне из окна руками, тянут большие пальцы вверх и иногда приветственно сигналят. Я, конечно, тоже рад их всех видеть, но на 12-процентном градиенте приходится делать усилие, чтобы кивнуть головой в ответ.

<Image file="12-percent-steep-climb.webp" alt="Крутой подъем в 12 процентов" ratio={[3,4]} latlng={[42.90707777777778,43.141930555555554]} />

Впереди самый крутой серпантин к перевалу. Перед ним смотровая площадка на гору Айлама. Высота ее — 4546 метров.

<Image file="bench-ailama-mountain.webp" alt="На лавке перед горой Айлама" ratio={[3,4]} latlng={[42.921863888888886,43.14383333333333]} />

Посидев на лавочке, пополз дальше наверх. Чтобы смягчить крутизну подъема, ехал зигзагом от одного края дороги к другому. Острее угол — ехать проще, но дольше, и наоборот. Кручу педали, все мысли о дыхании, а остатки оперативки уходят на поиск оптимальной траектории.

<Image file="zagaro-pass-serpentine.webp" alt="Серпантин к перевалу Загаро" ratio={[3,4]} latlng={[42.924974999999996,43.12933611111111]} />

Чем выше забираюсь, тем больше снега. Воздух холодный, но при этом очень вкусный.

<Image file="cyclist-snow-background.webp" alt="Велосипедист на фоне снега" ratio={[3,4]} latlng={[42.927369444444444,43.11727777777778]} />

Добрался до очередной смотровой площадки. Тут уже дежурят микроавтобусы с туристами. Почему-то чаще всего мне встречались немцы и нидерландцы. Одну голландскую бабушку я попросил запечатлеть меня на фоне гор. Мадам долго выбирала ракурс и меняла точку съемки. В итоге получил несколько фотографий, где ее творческий подход показал местные красоты, отодвинув мое тело в угол кадра.

<Image file="viewpoint.webp" alt="На смотровой площадке" ratio={[4,3]} latlng={[42.92050833333333,43.11994444444444]} />

<Image file="viewpoint-mountain-view.webp" alt="Вид на горы со смотровой площадки" ratio={[3,4]} latlng={[42.92043333333333,43.12009166666667]} />

Перевал уже близок, слева и справа от дороги снег и лед. Усталости нет, сплошная эйфория.

<Image file="road-among-snow.webp" alt="Дорога среди снегов" ratio={[3,4]} latlng={[42.91623055555556,43.107025]} />

Наконец вершина всего моего путешествия — перевал Загаро, 2611 метров. На третий день путешествия я забирался и выше, но на [Абули](https://sakalou.by/rides/sakartvelo-day-3) мне пришлось велосипед затаскивать, а тут я заехал.

<Image file="riding-zagaro-pass.webp" alt="Еду по перевалу Загаро" ratio={[3,4]} latlng={[42.91546944444444,43.10236388888889]} />

Сложно передать текстом те ощущения, которые испытываешь, забравшись куда-то высоко в горах. Не буду даже пытаться, скажу лишь, что оно безусловно того стоит.

<Image file="zagaro-pass.webp" alt="Перевал Загаро" ratio={[4,3]} latlng={[42.91552222222222,43.10236388888889]} />

<Image title="На перевале Загаро" file="zagaro-pass-with-bicycle.webp" alt="На перевале Загаро с велосипедом" ratio={[3,4]} latlng={[42.91546944444444,43.10236666666667]} />

Покатавшись по вершине туда-назад, надел рубаху, чтобы было теплее, и занялся не менее приятным делом: помчался вниз.

<Image file="horses-slope.webp" alt="Лошади на склоне" ratio={[3,4]} latlng={[42.90985555555555,43.044013888888884]} />

Дорога отличная, погода прекрасная, скорость бешеная. Даже не заметил, как спустился на 500 метров вниз к селу Ушгули.

<Image file="ushguli-entrance.webp" alt="Въезд в Ушгули" ratio={[4,3]} latlng={[42.916469444444445,43.01827222222222]} />

Ушгули — это сванская община, состоящая из нескольких сел с довольно условными границами между ними. Находясь на высоте 2200 метров, считается одним из самых высокогорных постоянных поселений в Европе.

Визитной карточкой села являются традиционные сванские дома-башни, благодаря которым Верхняя Сванетия была внесена в список культурного наследия ЮНЕСКО.

<Image file="ushguli-towers.webp" alt="Башни в центре Ушгули" ratio={[3,4]} latlng={[42.91766666666666,43.01532777777778]} />

На часах было начало второго, комната в моем гестхаусе еще не освободилась и я отправился на поиски кафе, чтобы пообедать.

<Image file="tourists-horses-ushguli.webp" alt="Туристы на лошадях в Ушгули" ratio={[4,3]} latlng={[42.91695,43.01434444444445]} />

Для обеда нашел шикарное место на свежем воздухе с видами на миллион. И с такими же ценами. Но тут все будет дороже, что и не удивительно, учитывая расположение деревни.

Свой заказ ждал по соседству с польской парой. Весь в татуировках парень был чем-то крайне возмущен. Недовольство его выражалось в частоте употребления слова «курва», составляя порядка 50% лексикона. Я же наблюдал с высоты на туристическую жизнь Ушгули.

<Image file="tourists-truck.webp" alt="Туристы в грузовике" ratio={[3,4]} latlng={[42.915413888888885,43.01352222222222]} />

Мне принесли вкусную рыбу и овощи, а поляку две бутылки пива. Пока я поглощал обед, сосед плавно добрел. К концу второй бутылки его возмущение превратилось в восхищение и лимонад я допивал под возгласы: “Як пенкне, як пенкне!”

<Image file="ushguli-lunch.webp" alt="Обед в Ушгули" ratio={[4,3]} latlng={[42.91535277777778,43.01338333333333]} />

В 9 километрах от села находится ледник Шхара у южного склона одноименной горы. Времени у меня было немерено, поэтому туда я и отправился.

<Image file="shkhara-glacier-road.webp" alt="Дорога к леднику Шхара" ratio={[3,4]} latlng={[42.917991666666666,43.016644444444445]} />

Дорога к леднику — популярный маршрут для хайкинга у туристов. Отличная грунтовая дорога с плавным набором высоты и сногсшибательными видами.

<Image file="shkhara-glacier-path.webp" alt="По пути к леднику Шхара" ratio={[4,3]} latlng={[42.94103333333333,43.04618055555555]} />

От ледника берет начало река Ингури, вдоль которой мне предстоит ехать следующие 2 дня. А сейчас я вижу, как она набирает мощь, переезжая через ручьи, которые размывают дорогу, стекая с гор.

<Image file="flooded-road.webp" alt="Затопленная дорога" ratio={[3,4]} latlng={[42.94801388888889,43.068936111111114]} />

Когда до ледника оставалось около двух километров, тропа стала непроезжабельной. Я оставил велосипед у указателя и пошел пешком. Навстречу мне возвращалась очередная группа туристов с собакой. Приветствуя друг друга, я заметил, что они как-то загадочно мне улыбаются. Как я потом понял, загадочность эта была обусловлена тем, что я был без собаки. Был, но теперь их пес уже был со мной.

<Image file="glacier-guide-dog.webp" alt="Пес-повадырь к леднику" ratio={[3,4]} latlng={[42.953469444444444,43.08124444444445]} />

Пушистый генацвале проводил одних туристов и взял себе нового, меня. Теперь мы были вдвоем.

<Image title="Река Ингури" file="inguri-river-source.webp" alt="Начало реки Ингури" ratio={[3,4]} latlng={[42.95404722222222,43.08261388888889]} />

По камням и через ручьи мы пробирались все выше к Шхаре. Пушистый генацвале шел сзади, иногда обгонял, отгонял от меня других собак, которые шли группами, идущими нам навстречу от ледника.

<Image title="Пес-конкурент" file="encounter-dog.webp" alt="Встречный пес" ratio={[3,4]} latlng={[42.95425277777778,43.08302777777778]} />

Каждый турист, следующий по тропе, был четко распределен между представителями этого собачего картеля. Благо у меня остались оладьи из гестхауса и я, подкармливая ими генацвале, оставался спокоен за собственную шкуру.

<Image file="together-with-dog.webp" alt="Вместе с собакой" ratio={[3,4]} latlng={[42.95481111111111,43.08395]} />

Наконец ледник. Собакен попозировал мне на его фоне. Потом попросили группу ребят, любовавшихся горой, сидя на камнях, сделать нам совместное фото.

<Image file="dog-posing-glacier-background.webp" alt="Собака позирует на фоне ледника" ratio={[3,4]} latlng={[42.96387777777778,43.093833333333336]} />

<Image file="together-with-dog-shkhara-glacier.webp" alt="Вместе с псом у ледника Шхара" ratio={[3,4]} latlng={[42.96386666666667,43.09386111111111]} />

Оставив мохнатого друга вместе с испанскими туристами и оладьями, я подошел ближе к ледяной горе.

<Image file="glacier-signpost.webp" alt="Указатель возле ледника" ratio={[3,4]} latlng={[42.96409166666667,43.09433055555556]} />

Понять ее масштабы на фото невозможно, а близко к ней подходить не стоит: с вершины ледника постоянно со характерным треском скатываются камни.

<Image title="Ледник Шхара" file="shkhara-glacier.webp" alt="Ледник Шхара" ratio={[3,4]} latlng={[42.964675,43.0942]} />

Генацвале решил остаться с испанцами, так как запах хамона ему ближе, чем аромат оладий. Я же поскакал вниз по камням к велосипеду.

<Image file="glacier-return-road.webp" alt="Дорога назад от ледника" ratio={[4,3]} latlng={[42.96304444444445,43.092911111111114]} />

До Ушгули домчал мгновенно, так как ехал уже с горы. Наконец заселился в гестхаус, принял душ и пошел любоваться панорамой села в лучах заходящего солнца.

<Image file="svan-tower-mountain-background.webp" alt="Сванская башня на фоне гор" ratio={[4,3]} latlng={[42.916533333333334,43.018166666666666]} />

Для чего были возведены сванские башни однозначного ответа нет.

<Image file="ushguli-sunset.webp" alt="Ушгули в лучах закатного солнца" ratio={[3,4]} latlng={[42.91504166666667,43.014041666666664]} />

Строили их с VIII—XVIII века. Каждая башня принадлежала одной семье.

<Image file="tall-svan-tower.webp" alt="Высокая сванская башня" ratio={[3,4]} latlng={[42.91677222222222,43.01410277777778]} />

Историки утверждают, что использовали их и как жилье, и как укрытие от лавин, и как сторожевой пост для защиты от вторжений врагов.

<Image file="ushguli-svan-towers.webp" alt="Сванские башни в Ушгули" ratio={[3,4]} latlng={[42.915438888888886,43.01327222222222]} />

За сегодняшний день поставил рекорд по набору высоты — 1,991 м. Отметил сие событие пирогом с кофе, которыми меня угостила хозяйка гестхауса.

<Image file="coffee-pie.webp" alt="Кофе и пирог" ratio={[4,3]} latlng={[42.917738888888884,43.015544444444444]} />

__Итоги дня__  
_Расстояние:_ __62.65 км__  
_Общий подъем:_ __1,991 м__  
_Общий спуск:_ __1,225 м__  
_Минимальная высота:_ __1,262 м__  
_Максимальная высота:_ __2,611 м__  
_Средняя скорость:_ __7.0 км/ч__  
_Средняя скорость движения:_ __10.4 км/ч__  
_Максимальная скорость:_ __47.1 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/23271878470)