---
title: Вело-Сакартвело. Зугдиди - Батуми. День 12
date: 2026-06-19
description: 12 день велопутешествия по Грузии. Заключительный день поездки. Море и Батуми
image: batumi-beautiful-houses-promenade.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
  import Youtube from '$lib/components/content/Youtube.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=6Ao35mV)

Изначально планировал закончить свое путешествие именно в Зугдиди, добравшись до Батуми на маршрутке или поезде. Однако к 12-му дню в пути настолько вкатился, что пересаживаться из седла в кресло не видел никакой необходимости.

Сегодня предстояло проехать более 130 км по жаре и, самое неприятное, по трассам с интенсивным трафиком.

<Image file="pig-on-road.webp" alt="Свинья на дороге" ratio={[4,3]} latlng={[42.37810555555556,41.81406111111111]} />

Иногда по краям дороги можно было встретить какие-нибудь древние развалины, как, например, эта крепость в селе Хамискури.

<Image file="fortress-ruins.webp" alt="Руины крепости" ratio={[4,3]} latlng={[42.380425,41.81143611111111]} />

Мостики от дороги к домам через дренажный канал здесь с местным колоритом. Можно собраться аксакалам села и обсудить важный вопрос или устроить чемпионат по домино.

<Image file="bridge-drainage-canal.webp" alt="Мостик через дренажный канал" ratio={[2048,1535]} latlng={[42.25398888888889,41.80474722222222]} />

Спустя два часа пути выехал на узкую дорогу под платанами, ведущую к городу Поти. Трафик на ней совсем не давал расслабиться.

<Image file="road-plane-trees.webp" alt="Дорога среди платанов" ratio={[3,4]} latlng={[42.19783888888889,41.71378333333334]} />

На въезде в город пересек по мосту уже хорошо знакомую мне реку Риони.

<Image file="rioni-river-bridge.webp" alt="Мост через Риони" ratio={[4,3]} latlng={[42.18771388888889,41.70749722222222]} />

Поти — портовый город и центр его выглядит довольно причесано.

<Image file="poti-church.webp" alt="Храм в Поти" ratio={[4,3]} latlng={[42.14342777777778,41.672263888888885]} />

Но настоящая его красота скрыта за аккуратными фасадами старых советских домов, которые со стороны улицы выглядят прилизано безжизненными.

<Image file="poti-house-facade.webp" alt="Фасад дома в Поти" ratio={[4,3]} latlng={[42.148225,41.672061111111105]} />

А со двора предстают во всем своем великолепии.

<Youtube title="Искусство грузинского самостроя в Поти" id="O71weML2YbY" />

Впервые живьем увидел искусство кавказской пристройки. Выглядит это настолько ужасно, что становится даже прекрасно.

<Image file="poti-self-built-house.webp" alt="Дом с самостроем в Поти" ratio={[4,3]} latlng={[42.15042777777778,41.66927222222222]} />

Кто-то пристроил себе спальню, кто-то две, а кто-то целый спортзал с бассейном.

<Image file="poti-house-courtyard-view.webp" alt="Вид на дом в Поти со двора" ratio={[4,3]} latlng={[42.149058333333336,41.671330555555556]} />

Если нет возможности сделать пол на крыше соседа снизу, то на помощь приходят металлические сваи. Даже если живешь на пятом этаже.

<Image file="extensions-panel-building.webp" alt="Пристройки к пятиэтажному дому" ratio={[3,4]} latlng={[42.14991111111111,41.66980833333333]} />

Несмотря на то, что Поти стоит на берегу, моря я не увидел. Поэтому, выехав из города и пробравшись через частную застройку, наконец выбрался к воде.

<Image file="bicycle-sea-beach.webp" alt="С велосипедом на морском пляже" ratio={[3,4]} latlng={[42.05025,41.72816388888889]} />

На фото это не заметно, но песок на пляже скорее черный или темно-серый и ходить по нему было невозможно — был просто раскаленный.

<Image file="swimming-black-sea.webp" alt="Купание Черном море" ratio={[3,4]} latlng={[42.05025555555555,41.72811388888889]} />

Море тоже было теплым. Поплавал полчаса и поехал дальше.

<Image file="georgian-black-sea-coast.webp" alt="Грузинский берег Черного моря" ratio={[3,4]} latlng={[42.050349999999995,41.72788333333334]} />

Наличие большой воды рядом с дорогой сформировало меню местных кафе. Оно состояло только из морской рыбы, хлеба и овощей. Мне большего и не было нужно.

<Image file="roadside-cafe-kobuleti-lunch.webp" alt="Обед в придорожном кафе по пути в Кобулети" ratio={[4,3]} latlng={[42.00340555555555,41.77925833333333]} />

Вскоре въехал в Кобулети, где съехал с основной дороги, чтобы проехать по парку вдоль набережной.

<Image file="kobuleti-promenade.webp" alt="Набережная в Кобулети" ratio={[4,3]} latlng={[41.85687222222222,41.778375]} />

Парк и набережная понравились, пляж — на любителя.

<Image file="kobuleti-beach.webp" alt="Пляж в Кобулети" ratio={[4,3]} latlng={[41.86613888888889,41.777855555555554]} />

Сам же Кобулети не особо впечатлил: бесконечные пестрые лавки с китайским барахлом у дороги, автомобили, припаркованные в два ряда у края дороги, классические советские панельные дома, но с пальмами во дворе.

<Image file="kobuleti-palm-tree-house.webp" alt="Дом с пальмами в Кобулети" ratio={[4,3]} latlng={[41.82027777777778,41.77471944444444]} />

Выехал из курортного города на основную грузинскую автомобильную артерию, соединяющую Тбилиси и Батуми. Несмотря на огромное количество машин, ехать по ней на велосипеде очень комфортно, так как есть широченная обочина.

<Image file="batumi-highway-shoulder.webp" alt="Обочина трассы в Батуми" ratio={[4,3]} latlng={[41.719661111111115,41.745758333333335]} />

Довольно быстро домчал по шикарному асфальту до въезда в Батуми.

<Image file="batumi-sea-background.webp" alt="Батуми на фоне моря" ratio={[4,3]} latlng={[41.67140277777778,41.68919444444444]} />

В городе даже есть велосипедная инфраструктура. Велодорожка начинается у порта и идет вдоль всего города по набережной.

<Image file="batumi-port-bike-path.webp" alt="Велодорожка у порта в Батуми" ratio={[4,3]} latlng={[41.658408333333334,41.676766666666666]} />

Но я ехал через центр города, а не по набережной, в очередной раз наслаждаясь возможностью ехать по проезжей части большого города. В Минске я такого удовольствия лишен.

<Image file="batumi-architecture.webp" alt="Архитектура Батуми" ratio={[3,4]} latlng={[41.64086666666667,41.61195]} />

Движение на дорогах было максимально плотным, нужно было быть полностью сконцентрированным — было уже не до фото.

В Батуми живет мой друг Женя, известный в узких кругах как Медвед. Проехав почти через весь город, добрался до его жилища возле парка Леха и Марии Качиньских. На этом велосипедную часть путешествия по Сакартвело можно считать завершенной.

<Image file="sailboat-sea.webp" alt="Парусник в море" ratio={[4,3]} latlng={[41.63283055555556,41.60290555555556]} />

После душа и кофе пошли с Евгеном на обзорную экскурсию по городу. На улицах Батуми встречалось больше экспатов, чем грузин. А самые красивые здания на набережной не современные из стекла и бетона, а классические кавказские с самостроем.

<Image file="batumi-first-line.webp" alt="Первая линия в Батуми" ratio={[3,4]} latlng={[41.632133333333336,41.602725]} />

<Image file="batumi-self-built-extensions.webp" alt="Самострой на домах Батуми" ratio={[3,4]} latlng={[41.631927777777776,41.60234722222222]} />

Есть у набережной и архитектурные жемчужины, как, например, элитный [ЖК «Белая магнолия»](https://realt.onliner.by/2019/05/17/elit-zabros), который, блюдя местные традиции, оброс сверху пятью этажами самостроя.

<Image file="white-magnolia.webp" alt="Белая магнолия" ratio={[3,4]} latlng={[41.64273055555555,41.61423888888889]} />

<Image title="Пять этажей самостроя" file="five-stories-self-built.webp" alt="Пять этажей самостроя" ratio={[3,4]} latlng={[41.64272222222222,41.61423888888889]} />

Вскоре собиравшийся весь день дождь пролился на город. Я купил в местном магазине на оставшиеся наличные чурчхелы и мы отправились домой.

<Image file="promenade-bike-path.webp" alt="Велодорожка на набережной" ratio={[3,4]} latlng={[41.62713333333333,41.59724444444445]} />

На следующий день упаковал велосипед в коробку, которую местные предприниматели продали Жене за 20 лари, вместо того, чтобы просто выбросить, и поехал на поезде до Тбилиси, где ночью был самолет до Минска.

<Image file="tbilisi-train.webp" alt="У поезда в Тбилиси" ratio={[3,4]} latlng={[41.658975,41.678244444444445]} />

Мое велопутешествие по Грузии закончилось. Впечатления от него останутся со мной на всю оставшуюся жизнь. А еще я бесконечно рад, что Сакартвело на восток от Тбилиси для меня еще терра инкогнита: будет возможность вернуться в эту замечательную страну и увидеть те места, где еще не бывал.

__Итоги дня__  
_Расстояние:_ __133.93 км__  
_Общий подъем:_ __406 м__  
_Общий спуск:_ __504 м__  
_Минимальная высота:_ __0 м__  
_Максимальная высота:_ __114 м__  
_Средняя скорость:_ __14.0 км/ч__  
_Средняя скорость движения:_ __20.3 км/ч__  
_Максимальная скорость:_ __45.7 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/23309960813)