---
title: Вело-Сакартвело. Ушгули - Пари. День 10
date: 2026-06-17
description: 10 день велопутешествия по Грузии. По Верхней Сванетии от Ушгули через Местию в Пари
image: svan-towers-road-view.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
  import Youtube from '$lib/components/content/Youtube.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=0voEXY6)

Путешествуя по Грузии, можно встретить множество интересных людей. Страна не расположена к пакетному туризму и будет ошибкой ожидать, что вас тут будут развлекать и носить на руках только за то, что вы сюда добрались. Это обстоятельство притягивает сюда многих, кому не чужд авантюризм, тех, кто сам может придумать, чем ему заняться с утра.

<Image title="Ушгули" file="bridge-svan-towers-background.webp" alt="Мост на фоне сванских башен" ratio={[4,3]} latlng={[42.91540833333333,43.00975555555556]} />

Я люблю ездить один. На это есть несколько причин и существенная из них — это возможность выйти из своего интровертного кокона, из вербальной зоны комфорта. Когда ты часть группы, даже состоящей из двух человек, ты замыкаешься в ней. Одиночество же толкает тебя к коммуникации с окружающим миром и располагает других к тебе: местных детей, коров с колокольчиками или стаю злых собак.

Примером выхода из зоны комфорта был завтрак в гестхаусе, где хозяйка накрыла общий стол для меня и моего соседа француза. Первые минуты мы поглощали омлет в неловкой тишине. Сам не понял как, но, благодаря магии местной земли, я уже демонстрирую ему, как правильно намазывать сантиметровый слой варенья на свежую булку, а он рассказывает про свой трехнедельный хайкинг. В Грузию он заглянул по пути от родных из Лилля в Австралию, где сейчас и живёт.

<Image title="Ушгули" file="ushguli-view.webp" alt="Вид на Ушгули" ratio={[4,3]} latlng={[42.91489722222222,43.00141388888889]} />

Следующие три дня мне предстоит в основном спускаться с текущих 2200 метров до 0. Горы вокруг меня еще машут снежными шапками, но преодолевать уже не заставляют. Остался лишь перевальчик Угвири на пути к Местии, до начала подъема на который, мне предстояло 23 км катиться вниз.

<Image file="ushguli-downhill-road.webp" alt="Дорога вниз от Ушгули" ratio={[3,4]} latlng={[42.914538888888885,42.981011111111115]} />

Чем я с удовольствием и занялся, рассекая по бетонной дороге меж лошадей.

<Youtube title="Объезд лошадей на дороге в Верхней Сванетии" id="EWcaHOi-uP8" />

Было бы интересно побывать в этих местах в другую пору года или хотя бы в скверную погоду. Я же ехал в идеальных условиях, с безупречной видимостью и космической скоростью.

<Image file="power-lines-wildflowers.webp" alt="ЛЭП и полевые цветы" ratio={[3,4]} latlng={[42.98278333333334,42.85276666666667]} />

<Image file="village-tower-roadside.webp" alt="Деревня с башней у дороги" ratio={[4,3]} latlng={[43.00959722222222,42.82738611111112]} />

Подъем к Угвири прошел для меня буднично. К 10 дню путешествия я привык к горному рельефу. Наверху даже почувствовал какую-то грусть, что больше затяжных подъемов мне не предстоит.

<Image title="Гора Ушба" file="ushba-mountain.webp" alt="Гора Ушба" ratio={[3,4]} latlng={[43.03628055555556,42.83000833333334]} />

<Image file="ugviri-pass-climb.webp" alt="Подъем к перевалу Угвири" ratio={[3,4]} latlng={[43.03045,42.826061111111116]} />

Бывая в разных странах, я всегда ярко запоминаю запахи. Чем же пахнет Грузия? Чаще всего — коровами и луговыми цветами. Сегодня же главным распространителем был желтый рододендрон, растущий на обочинах дорог. Прохладный горный воздух и сладкий аромат этих желтых цветов теперь будут ассоциироваться именно с Сакартвело.

<Image file="yellow-rhododendron.webp" alt="Желтый рододендрон" ratio={[4,3]} latlng={[43.042205555555554,42.75105277777778]} />

От перевала мгновенно домчал до «туристической Мекки» Верхней Сванетии — городу Местии.

<Image file="mestia-river.webp" alt="Река в Местии" ratio={[3,4]} latlng={[43.0426,42.727694444444445]} />

<Image title="Главная улица в Местии" file="mestia-town.webp" alt="Местия" ratio={[4,3]} latlng={[43.04490555555555,42.728475]} />

Этот красивый городок — логистический хаб для знакомства с разными уголками региона. Сюда доставляют туристов маршрутки со стороны Зугдиди и Батуми. Кто-то из пребывающих устремляется дальше, а кто-то кидает якорь прямо здесь, делая дневные вылазки к интересным местам вокруг.

<Image file="mestia-arch.webp" alt="Арка в Местии" ratio={[3,4]} latlng={[43.04667222222222,42.731725000000004]} />

Но и в самой Местии есть что посмотреть. Я решил воспользоваться возможностью забраться на сванскую башню в доме-музее известного местного альпиниста Михаила Хергиани.

<Image file="mikheil-khergiani-museum.webp" alt="Музей Михаила Хергиани" ratio={[4,3]} latlng={[43.05306944444444,42.740227777777775]} />

<Image title="Михаил Хергиани" file="mikheil-khergiani-bust.webp" alt="Бюст Михаила Хергиани" ratio={[3,4]} latlng={[43.05310833333333,42.740211111111115]} />

Вход в музей для иностранцев стоит 10 лари. Я прошел несколько залов с экспонатами для альпинизма времен середины XX века, познакомился с историей и достижениями сванского скалолаза.

<Image title="Обустройство традиционного сванского дома" file="traditional-svan-house.webp" alt="Традиционный сванский дом" ratio={[4,3]} latlng={[43.049144444444444,42.730525]} />

Вишенкой на торте в музее для меня был подъем на башню — причем в прямом смысле, так как лестница внутри ведет на саму крышу.

<Image title="Внутри сванской башни" file="svan-tower-interior.webp" alt="Внутри сванской башни" ratio={[3,4]} latlng={[43.05322777777778,42.74003611111111]} />

<Image title="Лестница на крышу сванской башни" file="svan-tower-roof-stairs.webp" alt="Лестница на крышу сванской башни" ratio={[4,3]} latlng={[43.05316111111111,42.739975]} />

Не буду распыляться в прилагательных, чтобы описать виды сверху. Лучше сделаю очередной комплимент грузинам и их туристической инфраструктуре. Хочешь вылезти на крышу, где тебя снесет ветром — без проблем. Никто не будет делать ради тебя клетку, чтобы ты не свалился, никто не построит стеклянную стену. Ты сам в ответе за себя, а мы за это не портим тебе вид на гору Ушбу.

<Image file="svan-tower-roof-view.webp" alt="Вид с крыши сванской башни" ratio={[3,4]} latlng={[43.05318888888888,42.73999722222222]} />

<Image file="airplane-forest-background.webp" alt="Самолет на фоне леса" ratio={[4,3]} latlng={[43.052730555555556,42.74019722222222]} />

После музея заехал на местный рынок, где купил себе очередную партию чурчхел, так как купленные еще в Боржоми были съедены. Вообще чурчхела — идеальный велосипедный перекус: калорийный, не приторно сладкий, вкусный и при этом не портится на жаре.

<Image file="churchkhela.webp" alt="Чурчхела" ratio={[4,3]} latlng={[43.04509722222222,42.72770277777778]} />

Но не чурчхелой единой. К десятому дню осознал, что так ни разу и не купил себе шоти, местный лаваш. Вот он совсем не велосипедный продукт, так как предательски разбухает в пищеварительном тракте.

<Image file="shoti-bread.webp" alt="Шоти" ratio={[3,4]} latlng={[43.04503333333333,42.72842777777778]} />

Рассудительный читатель скажет, что не обязательно им объедаться, чтобы потом было сложно крутить педали. Но на практике это невозможно, так как свежий лаваш преступно вкусен и я не в силах себя контролировать.

<Image file="shoti-bread-bicycle.webp" alt="Шоти на велосипеде" ratio={[4,3]} latlng={[43.045005555555555,42.72844444444445]} />

Дорога от Местии к селу Пари, где была запланирована ночевка, не отличалась чем-то особенным. Все те же горы, все та же бетонная дорога. Спокойно катился, следуя указателям.

<Image file="ebuti-signpost.webp" alt="Указатель на Ебути" ratio={[3,4]} latlng={[43.022127777777776,42.54807222222222]} />

[Гестхаус «Irakli»](https://www.booking.com/hotel/ge/guest-house-irakli-pari.html) в Пари меня просто сразил. Считаю, что только ради его балкона стоит приехать в Верхнюю Сванетию, да и в Грузию в целом.

<Image file="irakli-guesthouse-balcony.webp" alt="Балкон гестхауса Irakli" ratio={[4,3]} latlng={[43.05173055555555,42.493233333333336]} />

Просто приехать, сидеть на нем 3 дня и смотреть на то, как играют тени на горах, как облака перепрыгивают через их вершины, как меняется свет в зависимости от времени суток.

<Image file="irakli-guesthouse-balcony-view.webp" alt="Вид с балкона гестхауса Irakli" ratio={[3,4]} latlng={[43.051741666666665,42.49321388888889]} />

<Image file="mountains-balcony-view.webp" alt="Вид на горы с балкона" ratio={[3,4]} latlng={[43.05172222222222,42.493272222222224]} />

И стоит ночь в номере 25 лари, что меньше 10$. Уникальное место, которое не оставит никого равнодушным.

<Image title="Вид из номера гестхауса" file="irakli-guesthouse-room-view.webp" alt="Вид из номера гестхауса Irakli" ratio={[3,4]} latlng={[43.05163888888889,42.49324722222222]} />

__Итоги дня__  
_Расстояние:_ __78.67 км__  
_Общий подъем:_ __1,232 м__  
_Общий спуск:_ __1,962 м__  
_Минимальная высота:_ __1,273 м__  
_Максимальная высота:_ __2,115 м__  
_Средняя скорость:_ __11.0 км/ч__  
_Средняя скорость движения:_ __16.9 км/ч__  
_Максимальная скорость:_ __50.2 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/23281951940)