---
title: Вело-Сакартвело. Цагери - Жахундери. День 8
date: 2026-06-15
description: 8 день велопутешествия по Грузии. Еду дальше в горы через Нижнюю Сванетию
image: cyclist-descending-mountain-road.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
  import Youtube from '$lib/components/content/Youtube.svelte';
</script>

[Трек маршрута](https://mapmagic.app/map?routes=08kYB2V)

В Цагери, к сожалению, отель не кормил завтраками. Перекусив остатками вчерашнего ужина, которые я забрал с собой из кафе, спустился к велосипеду. За ночь почему-то снова спустило колесо. Заменив трофейную немецкую камеру на новую, выехал в сторону Лентехи.

<Image file="tsageri-exit.webp" alt="Выезд из Цагери" ratio={[4,3]} latlng={[42.68854444444444,42.76176944444445]} />

На выезде встретил трех велотуристов из Нидерландов, которые ехали в сторону Кутаиси по моему вчерашнему маршруту только в обратном направлении. Туристов вообще стало гораздо больше. Меня постоянно обгоняли группы мотоциклистов и дома на колесах с немецкими номерами.

<Image title="Акведук над дорогой для отвода воды с гор" file="mobile-home.webp" alt="Дом на колесах" ratio={[4,3]} latlng={[42.68997222222222,42.76092222222222]} />

Велосипедисты, скорее всего, тут тоже не редкость: собаки из проходившей мимо стаи даже не попытались откусить мне ногу — просто проводили безучастным взглядом.

<Image file="dogs-road.webp" alt="Собаки на дороге" ratio={[4,3]} latlng={[42.699691666666666,42.76267222222222]} />

Сегодня я вновь ошибся в оценке сложности маршрута при его планировании. Перед очередным затяжным подъемом навигатор показывал 1143 метра за 27 км на основании данных с трека. На самом деле набор получился в два раза меньше и, естественно, на него было потрачено меньше сил и времени.

<Image file="long-climb-bike-computer-screen.webp" alt="Затяжной подъем на экране велокомпьютера" ratio={[3,4]} latlng={[42.70583055555556,42.765572222222225]} />

День был похож на вчерашний. Постоянный плавный подъем, холодная река с одной стороны дороги, с другой — крутая скала, красивые зеленые горы впереди и сзади.

<Image file="mountain-road.webp" alt="Горная дорога" ratio={[4,3]} latlng={[42.71739166666667,42.76065555555556]} />

<Image file="wide-tskhenistskali-river.webp" alt="Широкая река Цхенисцкали" ratio={[3,4]} latlng={[42.73175555555556,42.75535277777778]} />

Иногда получалось разнообразить поездку гонкой со свиньями.

<Youtube title="Гонки со свиньями в Грузии" id="TCsaF1_lY6o" />

<Image file="cyclist-mirror.webp" alt="Велосипедист в зеркале" ratio={[3,4]} latlng={[42.75215277777778,42.75843888888889]} />

Вскоре доехал до Лентехи, крупнейшего населенного пункта Нижней Сванетии. Живет в этом поселке 1000 человек, что довольно слабо коррелирует с прилагательным крупнейший.

<Image file="lentekhi-entrance.webp" alt="Въезд в Лентехи" ratio={[3,4]} latlng={[42.77548888888889,42.72438888888889]} />

<Image file="lentekhi-mountain-church.webp" alt="Храм на горе в Лентехи" ratio={[3,4]} latlng={[42.78209722222222,42.721383333333335]} />

В Лентехи уже чувствуется дух туристического места. Ярко ощутил это по цене за омлет, салат и чашку кофе за 35 лари в местном кафе. Мой поздний завтрак вышел недешевым, но, надо признать, вкусным.

<Image title="Завтрак за 35 лари" file="lentekhi-late-breakfast.webp" alt="Поздний завтрак в Лентехи" ratio={[3,4]} latlng={[42.78776111111111,42.71786388888889]} />

<Image title="Лентехи" file="lentekhi-flag.webp" alt="Флаг в Лентехи" ratio={[4,3]} latlng={[42.78767777777777,42.71799166666667]} />

В центре поселка стоит отель, стилизованный под сванскую башню.

<Image file="lentekhi-center.webp" alt="Центр Лентехи" ratio={[4,3]} latlng={[42.78874166666667,42.725208333333335]} />

Снова плавный набор высота и красоты вокруг, передать которые на фото и видео довольно сложно. Их надо прочувствовать, понюхать, ощутить ветер, послушать, как грохочет река и стекают со скал ручьи.

<Image file="gravel-road-climb.webp" alt="Подъем по гравийной дороге" ratio={[3,4]} latlng={[42.801430555555555,42.760625]} />

<Image file="mountain-waterfall.webp" alt="Водопад в горах" ratio={[3,4]} latlng={[42.829036111111115,42.81322222222222]} />

<Youtube title="Река Цхенисцкали" id="wtmXZh5u1ds" />

Гармоничность окружающего мира впечатляет.

<Image file="pig-piglets.webp" alt="Свинья с поросятами" ratio={[3,4]} latlng={[42.839111111111116,42.89511111111111]} />

<Youtube title="Слалом между коров в Нижней Сванетии" id="r4urE8PNsX8" />

Иногда на пути попадались интересные артефакты.

<Image title="Памятник Сталину во дворе сельского дома" file="stalin-monument.webp" alt="Памятник Сталину" ratio={[3,4]} latlng={[42.80481666666666,42.97164444444444]} />

Но по большому счету в этот день была просто красивая дорога вверх.

<Image file="mountain-road-flowers.webp" alt="Горная дорога среди цветов" ratio={[4,3]} latlng={[42.78921944444444,43.00609722222222]} />

<Image file="cyclist-climbing-mountain-road.webp" alt="Велосипедист на горной дороге едет вверх" ratio={[4,3]} latlng={[42.79068888888889,43.00960277777778]} />

Еще не было трех часов дня, а я уже был у ворот гостевого дома [«Cozy Qorte»](https://www.booking.com/hotel/ge/cozy-qorte.html) в деревне Жахундери, где меня встретил молодой щенок, очень желавший порвать меня на части.

<Image file="puppy-fence.webp" alt="Щенок за забором" ratio={[4,3]} latlng={[42.797333333333334,43.017963888888886]} />

Вскоре щенка обезвредила очень милая хозяйка. Я поприветствовал выглядывающих из дома представителей сразу четырех поколений женщин: от маленькой девочки до старенькой бабушки и поднялся на второй этаж в свою комнату.

<Image file="cozy-qorte-guesthouse.webp" alt="Гестхаус Cozy Qorte" ratio={[4,3]} latlng={[42.797333333333334,43.017825]} />

Комната была просто огромной, обстановка довольно аскетичной. Все было чисто и аутентично.

<Image file="zhakhunderi-guesthouse-room.webp" alt="Комната в гестхасе Жахундери" ratio={[4,3]} latlng={[42.797327777777774,43.017975]} />

Хозяйка предложила обед и я, естественно, согласился. Домашняя еда из местных продуктов была просто фантастической.

<Image file="guesthouse-lunch.webp" alt="Обед в гестхаусе" ratio={[4,3]} latlng={[42.79732222222222,43.017966666666666]} />

Недомашних продуктов тут, кажется, вообще нет. Ближайшие магазины находятся в десятках километров от деревни и условный «сникерс» там будет стоить в 2 раза дороже, чем в больших городах. Пообедав на веранде с шикарным видом на горы, отправился изучать деревню.

<Image file="clouds-over-mountain-ridge.webp" alt="Облака переваливаются через горный хребет" ratio={[3,4]} latlng={[42.798449999999995,43.02003055555556]} />

<Image file="wildflowers-slope.webp" alt="Полевые цветы на склоне" ratio={[3,4]} latlng={[42.80228888888889,43.02413055555555]} />

Жахундери находится на 50 метров выше единственной дороги, по которой я ехал сегодня и продолжу ехать завтра к перевалу Загаро. Я решил подняться еще выше, сделав круг по деревенским тропам, которые были отмечены на OSM-картах.

<Image file="wildflowers-fence.webp" alt="Полевые цветы за забором" ratio={[4,3]} latlng={[42.80314722222222,43.01756388888889]} />

<Image file="zhakhunderi-house.webp" alt="Дом в Жахундери" ratio={[3,4]} latlng={[42.80539444444444,43.01984722222222]} />

По сельским дорогам с гор стекают ручьи. Облака лениво перекатываются через хребты. Пахнет луговыми цветами и коровами.

<Image file="rural-road-streams.webp" alt="Сельская дорога с ручьями" ratio={[4,3]} latlng={[42.80581944444444,43.017986111111114]} />

Тропы на карте вывели меня сначала на пастбище, а потом на ромашковое поле.

<Image file="daisy-field.webp" alt="Ромашковое поле" ratio={[3,4]} latlng={[42.80180277777777,43.02464166666667]} />

На карте была тропа вниз, но на местности оказался обрыв с колючками. Пришлось возвращаться обратно по тому же пути, благо времени было вагон.

<Image file="zhakhunderi-road.webp" alt="Дорога в Жахундери" ratio={[3,4]} latlng={[42.800152777777775,43.01636944444444]} />

Вернувшись в гестхаус познакомился с соседками ирландками, которые приехали в Грузию на какой-то духовный ретрит. Они пару недель медитировали в полной тишине где-то глубоко в горах, не общаясь друг с другом, и теперь, когда их обет молчания закончился, заткнули бы за пояс Эминема с его [«Rap God»](https://youtu.be/XbGs_qK2PQA?si=HDWxC3C980RCXIVK&t=265).

Тетушки были крайне милыми, вежливо уточнили, не напрягает ли меня их болтовня. Я успокоил их, сказав, что отца троих детей такими вещами не испугать.

<Image file="zhakhunderi-truck-kids.webp" alt="Грузовик с детьми в Жахундери" ratio={[1535,2048]} latlng={[42.80406111111111,43.02513888888889]} />

Весь оставшийся вечер просто провалялся на кровати, прервавшись только на ужин.

__Итоги дня__  
_Расстояние:_ __52.63 км__  
_Общий подъем:_ __1,175 м__  
_Общий спуск:_ __320 м__  
_Минимальная высота:_ __497 м__  
_Максимальная высота:_ __1,354 м__  
_Средняя скорость:_ __11.3 км/ч__  
_Средняя скорость движения:_ __15.2 км/ч__  
_Максимальная скорость:_ __44.4 км/ч__

[Детальный трек на garmin.com](https://connect.garmin.com/app/activity/23258131142)