---
title: Веломарафон «Соль Полесья» 2026
date: 2026-08-15
description: Впечатления о веломарафоне «Соль Полесья» 2026 года, о Солигорске и о самой гонке
image: terrikon-summit-stacker.webp
---

<script>
  import Image from '$lib/components/content/Image.svelte';
  import Youtube from '$lib/components/content/Youtube.svelte';
</script>

Случился мой первый веломарафон. Несмотря на то, что в седле я уже второй десяток лет, соревнования, даже любительские, меня особо не привлекали. Всегда хочется бороться за победу, а в марафонах же шансов на подиум у меня нет никаких.

Но «Соль Полесья» — это совершенно другой случай, так как дает возможность проехать по знаменитым терриконам Солигорска, закрытым 364 дня в году для посещения. Маршрут вокруг них планировался мной давно, но о заезде на них даже не мечтал. А тут все сложилось: и невероятный маршрут, и новый опыт — возможность проехать вместе с тремя тысячами других велолюбителей.

<Image file="bicycle-on-roof.webp" alt="Велосипед на крыше" ratio={[4,3]} latlng={[52.788180555555556,27.530994444444442]} />

Добраться от Минска до Солигорска без машины — задача нетривиальная. Прямого поезда нет, с пересадками добираться долго и неудобно, а выезжать придется сильно заранее. Благо у марафона есть прекрасный [чатик в телеграме](https://t.me/SolPolesya), где можно найти себе попутку, компанию, шлем, мужа, жену или просто доказать кому-то в интернете, что он не прав. Я же нашел себе там «Хавал» с Евгением, который с комфортом довез меня и мой велосипед в пятницу после работы до шахтерской столицы Беларуси.

<Image file="marathon-registration.webp" alt="Регистрация на марафон" ratio={[4,3]} latlng={[52.782199999999996,27.540619444444445]} />

Сразу по прибытии прошел регистрацию у офиса «Беларуськалия», получив свой номер 1316, и заселился в гостиницу [«Новае Палессе»](https://hotel-polesie.solgkh.by/). Одноместный номер обошелся в 64 рубля 20 копеек.

<Image file="novoe-polesie-hotel-room.webp" alt="Номер в гостинице Новое Полесье" ratio={[4,3]} latlng={[52.784588888888884,27.546236111111114]} />

Велосипед в гостинице разрешили поставить в подвал, где к 9 часам вечера он был уже где-то 30-м. Номер достался чистый и довольно уютный. Огорчило только отсутствие холодильника, на который рассчитывал я и мой питьевой йогурт.

## Марафон

Жарким субботним утром Солигорск превратился в филиал Копенгагена в Беларуси. Блаженный сон белорусского велосипедиста наяву: 3000 человек со всей страны и их 6000 колес заполонили улицы города.

<Image file="belaruskali-main-office.webp" alt="Главный офис Беларуськалия" ratio={[4,3]} latlng={[52.78420555555555,27.541772222222225]} />

Вокруг все бурлило: люди, велосипеды и мой желудок после теплого йогурта на завтрак.

<Image file="cyclists-belaruskali-office.webp" alt="Велосипедисты под офисом Беларуськалия" ratio={[3,4]} latlng={[52.782275,27.541319444444447]} />

<Image file="cyclists-riding-marathon-start.webp" alt="Велосипедисты едут к старту марафона" ratio={[4,3]} latlng={[52.783233333333335,27.541058333333336]} />

На «Соль Полесья» можно было заявиться в трех разных дистанциях: 40, 75 и 130 км. На средней дистанции был подъем на два террикона, а на самой длинной — на три. Старт же был для всех общий, чтобы было веселее. Организаторы лишь поставили флажки с предполагаемой средней скоростью участников, чтобы каждый занял место на старте в соответствии со своими ожиданиями.

<Image file="lenin-cyclists.webp" alt="Ленин и велосипедисты" ratio={[4,3]} latlng={[52.78321388888889,27.541044444444445]} />

Я встал где-то между 25 км/ч и 15 км/ч. Рядом со мной были и быстрые гревелисты, и фиксеры, и дамы с корзинками.

<Image file="salt-polesie-marathon-start.webp" alt="На старте марафона Соль Полесья" ratio={[3,4]} latlng={[52.78188333333333,27.542694444444447]} />

А вот этому парню организаторы подогнали номер 1488, руль с которым он благоразумно отвернул, чтобы не светить им на фото. С таким номером шлем, конечно, нужен другой.

<Image file="failed-handlebar-number.webp" alt="Неудачный номер на руле" ratio={[3,4]} latlng={[52.78189444444445,27.54266388888889]} />

Наконец, старт. Когда я в этой толпе пересек линию старта, лидеры уже выезжали из города. Но мне ведь некуда было спешить. По крайней мере я так думал на тот момент.

<Youtube title="Соль Полесья 2026. Старт" id="IS645g50HvU" />

Огромная велорека поехала по Солигорску, сопровождаемая любопытными взглядами жителей города из окон своих домов. Ощущалась всеобщая атмосфера праздника. Кто-то на радостях даже влетел в знак на островке безопасности.

<Image file="cyclists-soligorsk-streets.webp" alt="Велосипедисты едут по улицам Солигорска" ratio={[3,4]} latlng={[52.79060277777778,27.536147222222223]} />

Местные жители ближайших деревень встречали марафон у дороги, создавая у участников ощущение, будто они на «Тур де Франс».

<Image file="villagers-watching-marathon.webp" alt="Жители деревни наблюдают за марафоном" ratio={[3,4]} latlng={[52.81711111111112,27.536808333333337]} />

<Image file="children-greeting-marathon.webp" alt="Дети приветствуют веломарафон" ratio={[4,3]} latlng={[52.8429,27.526055555555555]} />

Вскоре началась гребенка и она немного растрясла толпу — можно было пообгонять.

<Image file="gravel-road.webp" alt="Гравийная дорога" ratio={[4,3]} latlng={[52.82195277777778,27.536205555555558]} />

<Image file="dust-cloud-wheels.webp" alt="Пыль столбом из-под колес" ratio={[3,4]} latlng={[52.84381388888889,27.514038888888887]} />

Спустя 10 километров выехали к первому террикону, он же РУ-2 (Второе рудоуправление).

<Image file="first-terrikon-approach.webp" alt="На подъезде к первому террикону" ratio={[3,4]} latlng={[52.84831944444445,27.508008333333333]} />

На эту искусственную гору заезжали только те, кто ехал дистанцию 130 км, а это один из восьми участников марафона. Я был как раз из них и отправился наслаждаться видами солеотвалов в поредевшей толпе.

<Image file="ru2-climb-start.webp" alt="Начало подъема на РУ2" ratio={[4,3]} latlng={[52.85402222222223,27.509522222222223]} />

Ради этих видов я сюда и приехал.

<Image file="first-terrikon-climb.webp" alt="Подъем на первый террикон" ratio={[4,3]} latlng={[52.86103055555556,27.496830555555558]} />

К местным градиентам меня подготовила [июньская Грузия](https://sakalou.by/rides/sakartvelo-day-9). Хоть и пыхтел, но везде заехал. А виды потрясающие и абсолютно уникальные.

<Image file="ru2-terrikon-steep-summit-road.webp" alt="Крутая дорога на вершину террикона РУ2" ratio={[3,4]} latlng={[52.86133888888889,27.504513888888887]} />

<Image file="first-terrikon-summit.webp" alt="На вершине первого террикона" ratio={[4,3]} latlng={[52.86266666666667,27.513972222222222]} />

Несмотря на марафон, производство не останавливалось. Конвейерная лента доставляет породу снизу вверх, а отвалообразователь выплевывает струю с отходами, благодаря которым террикон становится еще выше.

<Image file="terrikon-summit-stacker.webp" alt="Отвалообразователь на вершине террикона" ratio={[2048,1535]} latlng={[52.867305555555554,27.514813888888888]} />

Марафон добавил мне азарта: когда вокруг тебя сотни других велосипедистов, просыпается первобытный инстинкт соперничества. Вместо расслабленной покатушки включился режим «опаздываю на последнюю электричку».

<Image file="white-mountain-summit.webp" alt="Белые горы на вершине" ratio={[4,3]} latlng={[52.867419444444444,27.510538888888888]} />

После спуска с РУ-2 был красивейший участок по грунтовой дороге вдоль шламохранилищ, специальных технических водоемов.

<Image file="ru2-foot.webp" alt="У подножия РУ2" ratio={[3,4]} latlng={[52.86514722222223,27.50145277777778]} />

<Image file="ru2-sludge-storage.webp" alt="Шламохранилище возле РУ2" ratio={[4,3]} latlng={[52.87291388888889,27.515427777777777]} />

Пока здесь были только марафонцы с дистанции 130 км и можно было спокойно наделать фотографий на ходу, не занимаясь маневрированием между другими участниками.

<Image file="sludge-storage-terrikon.webp" alt="Шламохранилище перед терриконом" ratio={[3,4]} latlng={[52.87175833333333,27.52904722222222]} />

<Youtube title="Соль Полесья 2026. Шламохранилище возле РУ2" id="3EkMVbr1UEo" />

Спустя 12 километровой отдельной петли для моей длинной дистанции мы врезались в гущу медленных катальцев. А тут уже фотосессии, скорая помощь, ад и Израиль. Я же весь в соревновательном азарте мчал к следующему солеотвалу.

<Image file="ambulance-highway.webp" alt="Скорая на трассе" ratio={[4,3]} latlng={[52.85200555555556,27.519908333333333]} />

Заезд на РУ-3 был крут в прямом и переносном смысле. Участники самой короткой дистанции сюда не поднимались, а те, кто ехал среднюю шли в основном пешком, так как самые ловкие и быстрые из них уже были далеко впереди.

<Image file="second-terrikon-climb.webp" alt="Подъем на второй террикон" ratio={[4,3]} latlng={[52.855980555555554,27.56771388888889]} />

Но некоторые не сдавались и упорно ползли вверх. Например, вот эта девушка призналась, что готовилась. И это ярко видно по ее носкам.

<Image file="girl-nice-socks.webp" alt="Девушка в красивых носках" ratio={[3,4]} latlng={[52.857708333333335,27.56383611111111]} />

На спуске с террикона можно было легко набрать первую космическую скорость. Чтобы никто не вышел на орбиту, организаторы поставили волонтера с рупором, которая предупреждала всех, что впереди завал. 

Завала снизу я не обнаружил, но и не устроил сам, так что девушка не зря стояла полдня на жаре в 30 градусов. Ведь на гонке [бывало так](https://www.threads.com/@klementev0510/post/DcGZb1vjgx1) или [даже так](https://youtu.be/0VTZyH8N1Ww?si=roFX6NUKouR_l-v5&t=1597).

Дальше трек пошел по полям к водохранилищу, где вскоре пути длинных дистанций разошлись с самой короткой на 40 км.

<Image file="dirt-road-reservoir.webp" alt="Грунтовая дорога у водохранилища" ratio={[3,4]} latlng={[52.836780555555556,27.65040833333333]} />

<Image file="tandem-bicycle.webp" alt="Тандем" ratio={[4,3]} latlng={[52.82819444444445,27.6424]} />

Хочу отдать должное составителям маршрута: все 130 км были увлекательны по своему и было интересно не только на солеотвалах.

<Image file="cyclists-haystacks.webp" alt="Велосипедисты между стогов соломы" ratio={[4,3]} latlng={[52.82681666666667,27.715469444444444]} />

<Image file="tractor-field.webp" alt="Трактор в поле" ratio={[4,3]} latlng={[52.82505833333334,27.695319444444443]} />

На 60-м километре начался подъем на третий террикон.

<Image file="ru4-foot.webp" alt="У подножия РУ4" ratio={[3,4]} latlng={[52.809374999999996,27.773374999999998]} />

РУ-3 было так же прекрасно, как и предыдущие два, на которые заезжал.

<Image file="ru4-stacker.webp" alt="Отвалообразователь на РУ4" ratio={[3,4]} latlng={[52.80786944444444,27.79107777777778]} />

<Image file="third-terrikon-climb.webp" alt="Подъем на третий террикон" ratio={[3,4]} latlng={[52.80805833333333,27.791208333333334]} />

А может даже и лучше.

<Image file="third-terrikon-summit-path.webp" alt="Путь к вершине третьего террикона" ratio={[3,4]} latlng={[52.81065833333333,27.786752777777778]} />

<Youtube title="Соль Полесья 2026 РУ4" id="rR2Pn6BUNj4" />

После спуска началась долгая грунтовая дорога под палящим солнцем и сильным встречным ветром.

<Image file="dirt-road-sun-headwind.webp" alt="Грунтовая дорога на солнцепеке против ветра" ratio={[4,3]} latlng={[52.751225,27.758708333333335]} />

До 80-го километра я еще регулярно обгонял ребят со средней дистанции, которая на самом деле была 86, а не 75 км, как в анонсе. После него наши дороги разошлись и впервые с начала марафона я мог попасть в ситуацию, когда ни впереди, ни позади меня не было видно велосипедистов.

Вскоре начался лес. Он был красив и ехать по нему было бы классно, но самочувствие мое постепенно ухудшалось. То ли я выбрал слишком высокий для себя темп на дистанцию, то ли шлем непривычно давил на голову (обычно я езжу без него), то ли припекло нещадно жарившее в этот день солнце, то ли все эти факторы вместе взятые были этому виной, мне не известно. Я же в тот момент винил во всем выпитый утром йогурт с семенами чиа, который простоял всю ночь вне холодильника.

Фотографировать что-то на этом этапе уже не было сил и желания. В деревне Зеленый Бор на 100-м километре был очередной организованный пункт питания. Дядька-волонтер вылил на мою голову 2 ковша студеной воды, чем привел меня в чувства и придал немного сил. Предлагал и еще, но я убедил его, что и так ему безмерно благодарен, и за третий ковш придется переписать на него квартиру.

Дальше был шикарный синглтрек по высокой траве, которая доставала прямо до руля.

<Image file="singletrack-tall-grass.webp" alt="Синглтрек по высокой траве" ratio={[3,4]} latlng={[52.69254166666666,27.569411111111112]} />

Затем трава превратилась в заросли ананасов.

<Image file="singletrack-pineapples.webp" alt="Синглтрек среди ананасов" ratio={[3,4]} latlng={[52.69708333333333,27.562355555555555]} />

Последние 20 километров были для меня настоящим испытанием. Во первых в физическом плане, ибо хотелось освободить организм от треклятого йогурта у очередного куста, а во вторых психологическим, так как из-за усталости скорость моя снизилась и меня регулярно обгоняли другие участники с зелеными номерами (мои соперники по дистанции в 130 км).

На морально волевых въехал в Солигорск, где еще предстояло проехаться по набережной. Там я сел на колесо к каким-то ребятам, которые больше были похожи на рыбаков, возвращавшихся с рыбалки, а не на участников марафона, и вместе с ними догреб до финишной прямой.

<Image title="Въезд в Солигорск" file="soligorsk-entrance.webp" alt="Въезд в Солигорск" ratio={[3,4]} latlng={[52.79071111111111,27.56243611111111]} />

На финише дядька с шикарной бородой надел на меня медаль и вручил поллитра воды. Мне же хотелось одного — упасть в тень дерева на лужайке перед офисом «Беларуськалия».

20 минут я лежал с закрытыми глазами и концентрировал всю внутреннюю энергию, чтобы не стать героем инстаграма и солигорского телевидения, который изрыгает йогурт с семенами чиа на фоне главного офиса градообразующего предприятия.

Когда опасность миновала, выдвинулся в сторону гостиницы, где оставил свои вещи. В итоге со временем 7 часов 1 минута и 5 секунд занял почетное 143 место на дистанции 130 км среди мужчин.

## Эпилог

Работница отеля «Новае Палессе», возвращавшая мою сумку, разрешила принять мне душ в комнате по соседству с той, в которой я ночевал. Ее еще не убирали, поэтому мне невероятно повезло — контрастный душ окончательно привел меня в чувства.

В благодарность отдал милой женщине пакет с фундуком в шоколаде, который я брал с собой на гонку, но так к нему и не притронулся. Есть мне совершенно не хотелось, зато очень хотелось пить чего-нибудь соленого.

<Image title="Чайки на соли шламохранилища" file="seagulls-salt.webp" alt="Чайки на соли" ratio={[4,3]} latlng={[52.86604444444445,27.532641666666667]} />

Перед «Еврооптом» по соседству с гостиницей меня встретил местный завсегдатай. Он любезно ко мне обратился, рассказал душещипательную историю о том, что у него сегодня день рождения и ему очень плохо. В доказательство даже показал обложку паспорта.

Мое приподнятое настроение после марафона и душа, а также улучшившееся самочувствия сыграли ему на руку. Из магазина я вышел с бутылкой минералки для себя и бутылкой «хлебного вина» для него. Радость в его глазах, смотревших слегка в разные стороны, была неподдельной. Он даже приподнял руки, чтобы обнять меня. Но в итоге сработали какие-то внутренние ограничители или просто 0,2 литра были недостаточными для такой благодарности.

Сидя на лавке возле центра соревнований в ожидании трансфера до Минска, разговорился с одной женщиной. Она рассказала про своего сына, который только что проехал дистанцию в 86 км. Ему в детстве поставили диагноз аутизм и в трехлетнем возрасте врачи даже предлагали отправить ребенка в интернат. Сейчас Никита полноценный член общества, который работает и живет интересную жизнь, регулярно принимая участие во всякого рода активностях, которые организует [«Федерация Приключенческих Гонок»](https://www.arf.by/).

Кроме невероятного вклада в сына времени и сил мамы нужно отметить важность для таких людей детских коррекционных центров. И тут надо упомянуть, что марафон «Соль Полесья» является благотворительным и собранные за участие деньги идут на финансирования именно таких организаций.

Сам же марафон оплачивается и организуется «Беларуськалием». И делается это великолепно. Я как участник получил огромное удовольствие от соревнования. Грамотно перекрытый город на старте и финише, безупречная разметка на дистанции, работа скорых и ГАИ.

<Image title="Солеотвалы на РУ4" file="third-terrikon-rock-piles.webp" alt="Горы породы на вершине третьего террикона" ratio={[4,3]} latlng={[52.81185833333333,27.779355555555554]} />

Отдельное удовольствие было встречать на маршруте волонтеров: улыбки, подбадривания, четкие указания и всеобщая невероятная доброжелательность. В пунктах питания, которые были каждые 20 км дистанции, несмотря на поток в 3000 велосипедистов, тебе были рады открыть бутылку с водой, чтобы сэкономить пару секунд, и всегда в достатке было фруктов и сладостей.

Не могу еще раз не упомянуть солигорчан и жителей окрестных деревень. Просто приятно, когда тебе с обочины машут рукой, а когда угощают яблоком из своего сада — вдвойне. Думаю никто не забудет детей, которые в этот жаркий день поливали из шланга проезжавших мимо них велосипедистов или веселого загорелого дядьку без майки весом в 150 кг, который, сидя на углу деревенской улицы, громко направлял всех налево, чтобы никто не сбился с пути.

<Image title="Дорога вокруг РУ2" file="dirt-road-sludge-storage.webp" alt="Грунтовая дорога у шламохранилища" ratio={[4,3]} latlng={[52.86452222222222,27.529644444444443]} />

Надеюсь, что «Соль Полесья» будет возвращаться в красивый и молодой Солигорск каждый год и снова превращать его в самый велосипедный город страны.

Ну и медалька, с которой из-за йогурта я сфотографировался только дома, зато в прекрасной компании.

<Image file="with-daughters-medal.webp" alt="С дочками и медалью" ratio={[4,3]} latlng={[53.926227777777775,27.610694444444444]} />

[Детальный трек марафона на garmin.com](https://connect.garmin.com/app/activity/23987856055)
