@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-ibm-plex-sans: 'IBM Plex Sans', var(--font-sans);
  --font-ibm-plex-serif: 'IBM Plex Serif', var(--font-serif);
  --grid-cols-layout: minmax(calc(var(--spacing) * 4), 1fr) minmax(auto, var(--container-3xl))
    minmax(calc(var(--spacing) * 4), 1fr);
}
